{% extends 'header.html' %}
{% block content %}

    <h1 class="title">О проекте:</h1>
    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam assumenda blanditiis debitis distinctio dolore enim eum eveniet, expedita, fugit, harum in nihil optio quas quo rerum sequi. Rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus cumque enim exercitationem fugiat non obcaecati repudiandae veritatis? Accusantium beatae et ex hic illum labore laudantium maiores maxime, molestias totam!</p>


{% endblock %}